@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --branco-pricipal: #FFFFFF;
    --cinza-secundaria: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'inter', sans-serif;
}

body{
    background-color :var(--cor-de-fundo);
    color: var(--branco-pricipal);
    font-weight: 400;
    font-size: 1em;
    font-family: var(--fonte-principal);
}

*{
    margin: 0;
    padding: 0;

}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0em 2em 0em;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-pricipal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao_secundario{
    color: var(--branco-pricipal);
    border: 2px solid var(--branco-pricipal);
    background-color: transparent;
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundaria);
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%;

}

.secundario {
    align-items: center;
    margin: 0 8em;
}

.descricao__titulo{
    font-weight: bold;
    font-size: 48px;
    color: var(--branco-pricipal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundaria);
    font-size: 18px;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.texto__terceira__sessao{
    margin-right: 2em;
}

.dispositivos__lista{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

.dispositivos__titulo{
    text-align: center;
    margin-bottom: 1em;
    font-size: 48px;
    font-weight: 700;
}

.dispositivos__lista{
    gap: 0.5em;
    margin-bottom: 10em
}

.lista__item{
    text-align: center;
    font-size: 2em;
}

.rodape{
    text-align: center;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    gap: 4em;
    list-style-type: none;
     margin: 2em 0;
}

.rodape__divisao{
    margin-bottom: 3em;
    
}

.rodape__lista__item a{
    text-decoration: none;
    color: var(--branco-pricipal);
}

.rodape__divisao__textoum{
    margin-bottom: 2em;
    color: #C0C0C0;
}

.rodape__divisao__textodois{
    margin: 0 15em;
    color: #C0C0C0;
}

.rodape__lista__item a:hover{
    color: #0615f3;
    text-decoration: underline;
}

.container__botao:hover{
    background-color: #626cf8;
}

.botao_secundario:hover{
    /* width: 105%; */
    font-size: 1.1em;
    background-color: transparent;
}